{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set current_lang = request.environ.CKAN_LANG %}

<div class="top-bar">
	<div class="left-block">
		<ul class="top-nav">
			<li>
				<a href="http://dati.sviluppo.laitspa.it/web/open-lavoro">OpenLavoro</a>
			</li>
			<li>
				<a href="/web/open-ambiente">OpenAmbiente</a>
			</li>
			<li>
				<a href="http://opensanita.staging.lazio.it/">OpenSanità</a>
			</li>
			<li>
				<a href="http://openspesa.staging.lazio.it/">OpenSpesa</a>
			</li>
			<li>
				<a href="http://openprogetti.staging.lazio.it/">OpenProgetti</a>
			</li>
		</ul>
	</div>
	<div class="right-block">
		<div class="select-dropdown">
			<div class="dropbtn">
				{% if current_lang == 'it' %}
				Italiano
				{% else %}
				English
				{% endif%}
				<span class="caret-custom"></span>
			</div>
			<div id="languageDropdown" class="dropdown-content">
				{% if current_lang == 'it' %}
					{% set liferay_lang_prefix = '/it' %}
					<a href="{% url_for current_url, locale='en' %}">English</a>
				{% else %}
					{% set liferay_lang_prefix = '/en' %}
					<a href="{% url_for current_url, locale='it' %}">Italiano</a>
				{% endif%}
			</div>
		</div>
		<div class="user-icon">
			<div class="head"></div>
			<div class="body"></div>
		</div>
		<div class="login-link">
		{% if c.userobj==None %}
			<a href="/login" class="logo-login">{{ _('Reserved area') }}</a>
		{% else %}
			<a href="/c/portal/logout" class="logo-login" >{{ _('Logout') }}</a></li>
		{% endif %}
		</div>
	</div>
</div>

